@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin: 0;
padding: 0; 
}
ul{
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 10px;
list-style: none;
}
li a{
    text-decoration: none;
    font: normal 20px "Barlow Semi Condensed";
    color: rgb(90, 87, 26);
}
h1{
    font: normal 60px "Black Ops One";
    color: rgb(255, 245, 59);
    text-align: center;
}
nav{
    background-color:  #fdf6e1;
    padding: 10px;
}
header{
    background-color: #fdf6e1;
    padding: 40px;
}

.divider{
    height: 20px;
    background-color: rgb(246, 255, 0);
    color : rgb(255, 255, 0);
}
.container{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    background-color: rgb(255, 255, 0);
}

main{
    background-color: #f6ffc4;
    padding: 40px;
    text-align: justify;
    border-radius: 10px;
}